## PyCity Schools Analysis

In [2]:
import pandas as pd
from pathlib import Path

In [5]:
## Load DATASETS
schools_df = pd.read_csv("schools_complete.csv")
students_df = pd.read_csv("students_complete.csv")
## Combine the DATA into a single dataset
school_data_complete = pd.merge(students_df, schools_df, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## DISTRICT SUMMARY

In [3]:
import pandas as pd
from pathlib import Path

In [2]:
# load CSV files
schools_df = pd.read_csv("schools_complete.csv")
students_df = pd.read_csv("students_complete.csv")
# Merge datasets
school_data_complete = pd.merge(students_df, schools_df, how="left", on="school_name")

In [16]:
# Total number of unique schools
total_schools = schools_df["school_name"].nunique()
print("Total number of schools:", total_schools)

Total number of schools: 15

In [17]:
# Total number of students
total_students = students_df["Student ID"].count()
print("Total number of students:", total_students)

Total number of students: 39170

In [18]:
# Total budget
total_budget = schools_df["budget"].sum()
print(f"Total Budget: ${total_budget:,.0f}")

Total Budget: $24,649,428

In [19]:
# Average math and reading scores
average_math_score = students_df["math_score"].mean()
average_reading_score = students_df["reading_score"].mean()
print("Total Average Math Score:", average_math_score)
print("Total Average Reading Score:", average_reading_score)

Total Average Math Score: 78.98537145774827
Total Average Reading Score: 81.87784018381414

In [20]:
# % Passing math and reading
passing_math = students_df[students_df["math_score"] >= 70]["Student ID"].count()
passing_reading = students_df[students_df["reading_score"] >= 70]["Student ID"].count()
overall_passing = students_df[(students_df["math_score"] >= 70) & (students_df["reading_score"] >= 70)]["Student ID"].count()

In [21]:
percent_passing_math = (passing_math / total_students) * 100
percent_passing_reading = (passing_reading / total_students) * 100
percent_overall_passing = (overall_passing / total_students) * 100

In [22]:
# Create District Summary DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [f"${total_budget:,.0f}"],  # Format the budget as a string with commas and dollar sign
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing],
})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [4]:
import pandas as pd

In [37]:
## Code to select type per school from school_data
school_types = schools_df.set_index(["school_name"])["type"]

In [36]:
per_school_counts = students_df.groupby("school_name")["student_name"].count()
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [42]:
import pandas as pd

# Create a DataFrame to organize the data
budget_data = pd.DataFrame({
    "Per School Budget": per_school_budget,
    "Per School Capita Spending": per_school_capita
})

# Format the values with dollar signs, commas, and two decimal places
budget_data["Per School Budget"] = budget_data["Per School Budget"].apply(lambda x: f"${x:,.2f}")
budget_data["Per School Capita Spending"] = budget_data["Per School Capita Spending"].apply(lambda x: f"${x:,.2f}")

# Display the formatted DataFrame
print(budget_data)

                      Per School Budget Per School Capita Spending
school_name
Huang High School         $1,910,635.00                    $655.00
Figueroa High School      $1,884,411.00                    $639.00
Shelton High School       $1,056,600.00                    $600.00
Hernandez High School     $3,022,020.00                    $652.00
Griffin High School         $917,500.00                    $625.00
Wilson High School        $1,319,574.00                    $578.00
Cabrera High School       $1,081,356.00                    $582.00
Bailey High School        $3,124,928.00                    $628.00
Holden High School          $248,087.00                    $581.00
Pena High School            $585,858.00                    $609.00
Wright High School        $1,049,400.00                    $583.00
Rodriguez High School     $2,547,363.00                    $637.00
Johnson High School       $3,094,650.00                    $650.00
Ford High School          $1,763,916.00                    $644.00
Thomas High School        $1,043,130.00                    $638.00

In [41]:
#Calculate average math scores per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
#Calculate average reading scores per school 
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()
#Display results
print("Per School Average Math Scores:\n", per_school_math)
print("\nPer School Average Reading Scores:\n", per_school_reading)

Per School Average Math Scores:
 school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

Per School Average Reading Scores:
 school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [43]:
## Number of students per school with passing math score
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["student_name"].count()
print("Number of Students Passing Math per School:")
print(school_students_passing_math)

Number of Students Passing Math per School:
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [45]:
## Number of students per school with passing reading score
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].count()
print("Number of Students Passing Reading per School:")
print(school_students_passing_reading)

Number of Students Passing Reading per School:
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [46]:
## Number of student per school that passed both subjects
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby("school_name")["student_name"].count()
print("Number of Students Passing Both Math and Reading per School:")
print(school_students_passing_math_and_reading)

Number of Students Passing Both Math and Reading per School:
school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [47]:
## Calculate passing rates
per_school_passing_math = (school_students_passing_math / per_school_counts) * 100
per_school_passing_reading = (school_students_passing_reading / per_school_counts) * 100
overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts) * 100
print("Per School Math Passing Rates (%):")
print(per_school_passing_math)

print("\nPer School Reading Passing Rates (%):")
print(per_school_passing_reading)

print("\nOverall Passing Rates (%):")
print(overall_passing_rate)

Per School Math Passing Rates (%):
school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

Per School Reading Passing Rates (%):
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

Overall Passing Rates (%):
school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [49]:
## Create DataFrame 'per_school_summary' 
school_types = schools_df.set_index("school_name")["type"]

per_school_summary = pd.DataFrame({
    "School Type": school_types,  
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [50]:
## Top 5 performing schools
top_schools = per_school_summary.sort_values(by="Overall Passing Rate", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [51]:
## Bottom 5 performing schools
bottom_schools = per_school_summary.sort_values(by="Overall Passing Rate", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Score by Grade

In [6]:
## Seperate by grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]
## Group by 'school_name' and calculate the mean math score for each grade
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()
## Combine each of the scores into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})
math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [7]:
# Separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
# Group by `school_name` and calculate the mean of the `reading_score` column for each grade
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()
## Combine each of the scores into a single DataFrame
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})
## Display
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [2]:
import pandas as pd

In [3]:
## Load Datasets
schools_df = pd.read_csv("schools_complete.csv")
students_df = pd.read_csv("students_complete.csv")

In [4]:
## Calculate pre-student budget
schools_df["Per Student Budget"] = schools_df["budget"] / schools_df["size"]

In [5]:
## Establish the bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [6]:
## Add a column to categorize spending ranges
schools_df["Spending Ranges (Per Student)"] = pd.cut(
    schools_df["Per Student Budget"], 
    bins=spending_bins, 
    labels=labels
)

In [7]:
print(schools_df.head())

   School ID            school_name      type  size   budget  \
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

   Per Student Budget Spending Ranges (Per Student)
0               655.0                      $645-680
1               639.0                      $630-645
2               600.0                      $585-630
3               652.0                      $645-680
4               625.0                      $585-630

In [9]:
import pandas as pd
## Import CSV files
schools_df = pd.read_csv("schools_complete.csv")
students_df = pd.read_csv("students_complete.csv")

In [10]:
## Merge both datasets
school_data_complete = pd.merge(students_df, schools_df, how="left", on="school_name")

In [11]:
per_school_counts = schools_df.set_index("school_name")["size"]
per_school_budget = schools_df.set_index("school_name")["budget"]
per_student_budget = per_school_budget / per_school_counts

In [12]:
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [13]:
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
overall_passing = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
]

In [14]:
per_school_passing_math = passing_math.groupby("school_name")["Student ID"].count() / per_school_counts * 100
per_school_passing_reading = passing_reading.groupby("school_name")["Student ID"].count() / per_school_counts * 100
overall_passing_rate = overall_passing.groupby("school_name")["Student ID"].count() / per_school_counts * 100

In [15]:
## Create school summary dataframe
per_school_summary = pd.DataFrame({
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})

In [17]:
## Copy of school summary for later use
school_spending_df = per_school_summary.copy()

In [18]:
print(school_spending_df.head())

                      Total Students  Total School Budget  Per Student Budget  \
school_name
Bailey High School              4976              3124928               628.0
Cabrera High School             1858              1081356               582.0
Figueroa High School            2949              1884411               639.0
Ford High School                2739              1763916               644.0
Griffin High School             1468               917500               625.0

                      Average Math Score  Average Reading Score  \
school_name
Bailey High School             77.048432              81.033963
Cabrera High School            83.061895              83.975780
Figueroa High School           76.711767              81.158020
Ford High School               77.102592              80.746258
Griffin High School            83.351499              83.816757

                      % Passing Math  % Passing Reading  Overall Passing Rate
school_name
Bailey High School         66.680064          81.933280             54.642283
Cabrera High School        94.133477          97.039828             91.334769
Figueroa High School       65.988471          80.739234             53.204476
Ford High School           68.309602          79.299014             54.289887
Griffin High School        93.392371          97.138965             90.599455

## SCORES BY SCHOOL SPENDING

In [22]:
import pandas as pd

# Load the CSV files
schools_df = pd.read_csv("schools_complete.csv")
students_df = pd.read_csv("students_complete.csv")

# Merge the two datasets on school name
school_data_complete = pd.merge(students_df, schools_df, how="left", on="school_name")

# Calculate total students, budget, and scores for each school
per_school_counts = schools_df.set_index("school_name")["size"]
per_school_budget = schools_df.set_index("school_name")["budget"]
per_student_budget = per_school_budget / per_school_counts

# Group the merged dataset by school name for average scores
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

# Calculate passing rates
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
overall_passing = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
]

per_school_passing_math = passing_math.groupby("school_name")["Student ID"].count() / per_school_counts * 100
per_school_passing_reading = passing_reading.groupby("school_name")["Student ID"].count() / per_school_counts * 100
overall_passing_rate = overall_passing.groupby("school_name")["Student ID"].count() / per_school_counts * 100

# Add school type
school_types = schools_df.set_index("school_name")["type"]

# Create a school summary DataFrame
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})

# Add spending ranges (Per Student)
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(
    per_school_summary["Per Student Budget"],
    bins=spending_bins,
    labels=spending_labels
)

# Formatting the budget columns
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

# Display all 15 schools in the dataset
pd.set_option("display.max_rows", 15)  # Ensure all rows are displayed
print(school_spending_df)

                      School Type  Total Students Total School Budget  \
school_name
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  Average Math Score  \
school_name
Bailey High School               $628.00           77.048432
Cabrera High School              $582.00           83.061895
Figueroa High School             $639.00           76.711767
Ford High School                 $644.00           77.102592
Griffin High School              $625.00           83.351499
Hernandez High School            $652.00           77.289752
Holden High School               $581.00           83.803279
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Pena High School                 $609.00           83.839917
Rodriguez High School            $637.00           76.842711
Shelton High School              $600.00           83.359455
Thomas High School               $638.00           83.418349
Wilson High School               $578.00           83.274201
Wright High School               $583.00           83.682222

                       Average Reading Score  % Passing Math  \
school_name
Bailey High School                 81.033963       66.680064
Cabrera High School                83.975780       94.133477
Figueroa High School               81.158020       65.988471
Ford High School                   80.746258       68.309602
Griffin High School                83.816757       93.392371
Hernandez High School              80.934412       66.752967
Holden High School                 83.814988       92.505855
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Pena High School                   84.044699       94.594595
Rodriguez High School              80.744686       66.366592
Shelton High School                83.725724       93.867121
Thomas High School                 83.848930       93.272171
Wilson High School                 83.989488       93.867718
Wright High School                 83.955000       93.333333

                       % Passing Reading  Overall Passing Rate  \
school_name
Bailey High School             81.933280             54.642283
Cabrera High School            97.039828             91.334769
Figueroa High School           80.739234             53.204476
Ford High School               79.299014             54.289887
Griffin High School            97.138965             90.599455
Hernandez High School          80.862999             53.527508
Holden High School             96.252927             89.227166
Huang High School              81.316421             53.513884
Johnson High School            81.222432             53.539172
Pena High School               95.945946             90.540541
Rodriguez High School          80.220055             52.988247
Shelton High School            95.854628             89.892107
Thomas High School             97.308869             90.948012
Wilson High School             96.539641             90.582567
Wright High School             96.611111             90.333333

                      Spending Ranges (Per Student)
school_name
Bailey High School                         $585-630
Cabrera High School                           <$585
Figueroa High School                       $630-645
Ford High School                           $630-645
Griffin High School                        $585-630
Hernandez High School                      $645-680
Holden High School                            <$585
Huang High School                          $645-680
Johnson High School                        $645-680
Pena High School                           $585-630
Rodriguez High School                      $630-645
Shelton High School                        $585-630
Thomas High School                         $630-645
Wilson High School                            <$585
Wright High School                            <$585

## Calculate averages for desired columns

In [27]:
import pandas as pd

In [25]:
## Import datasets
schools_df = pd.read_csv("schools_complete.csv")
students_df = pd.read_csv("students_complete.csv")

In [26]:
## Merge datasets
school_data_complete = pd.merge(students_df, schools_df, how="left", on="school_name")

In [28]:
per_school_counts = schools_df.set_index("school_name")["size"]
per_school_budget = schools_df.set_index("school_name")["budget"]
per_student_budget = per_school_budget / per_school_counts
school_types = schools_df.set_index("school_name")["type"]

In [29]:
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [38]:
## Calculate passing rates
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
overall_passing = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
]
per_school_passing_math = passing_math.groupby("school_name")["Student ID"].count() / per_school_counts * 100
per_school_passing_reading = passing_reading.groupby("school_name")["Student ID"].count() / per_school_counts * 100
overall_passing_rate = overall_passing.groupby("school_name")["Student ID"].count() / per_school_counts * 100

In [39]:
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

In [40]:
## Spending ranges (per student) 
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(
    per_school_summary["Per Student Budget"], 
    bins=spending_bins, 
    labels=spending_labels
)

In [41]:
school_spending_df = per_school_summary.copy()

In [43]:
spending_math_scores = school_spending_df.groupby(
    "Spending Ranges (Per Student)", observed=False
)["Average Math Score"].mean()

spending_reading_scores = school_spending_df.groupby(
    "Spending Ranges (Per Student)", observed=False
)["Average Reading Score"].mean()

spending_passing_math = school_spending_df.groupby(
    "Spending Ranges (Per Student)", observed=False
)["% Passing Math"].mean()

spending_passing_reading = school_spending_df.groupby(
    "Spending Ranges (Per Student)", observed=False
)["% Passing Reading"].mean()

overall_passing_spending = school_spending_df.groupby(
    "Spending Ranges (Per Student)", observed=False
)["% Overall Passing"].mean()

In [44]:
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

In [45]:
## DISPLAY
print(spending_summary)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          96.610877
$585-630                            87.133538          92.718205
$630-645                            73.484209          84.391793
$645-680                            66.164813          81.133951

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  90.369459
$585-630                               81.418596
$630-645                               62.857656
$645-680                               53.526855

## Scores by School Size

In [52]:
## Establish bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [51]:
## Create a copy of school summary
school_size_df = per_school_summary.copy()

In [54]:
## Categorize school
school_size_df["School Size"] = pd.cut(
    per_school_counts, 
    bins=size_bins, 
    labels=labels
)
school_size_df["School Size"] = school_size_df["School Size"].astype(str)

In [56]:
school_size_df["Total School Budget"] = school_size_df["Total School Budget"].map("${:,.2f}".format)
school_size_df["Per Student Budget"] = school_size_df["Per Student Budget"].map("${:,.2f}".format)
school_size_df["% Passing Math"] = school_size_df["% Passing Math"].map("{:.2f}%".format)
school_size_df["% Passing Reading"] = school_size_df["% Passing Reading"].map("{:.2f}%".format)
school_size_df["% Overall Passing"] = school_size_df["% Overall Passing"].map("{:.2f}%".format)

In [57]:
print(school_size_df)

                      School Type  Total Students Total School Budget  \
school_name
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  Average Math Score  \
school_name
Bailey High School               $628.00           77.048432
Cabrera High School              $582.00           83.061895
Figueroa High School             $639.00           76.711767
Ford High School                 $644.00           77.102592
Griffin High School              $625.00           83.351499
Hernandez High School            $652.00           77.289752
Holden High School               $581.00           83.803279
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Pena High School                 $609.00           83.839917
Rodriguez High School            $637.00           76.842711
Shelton High School              $600.00           83.359455
Thomas High School               $638.00           83.418349
Wilson High School               $578.00           83.274201
Wright High School               $583.00           83.682222

                       Average Reading Score % Passing Math % Passing Reading  \
school_name
Bailey High School                 81.033963         66.68%            81.93%
Cabrera High School                83.975780         94.13%            97.04%
Figueroa High School               81.158020         65.99%            80.74%
Ford High School                   80.746258         68.31%            79.30%
Griffin High School                83.816757         93.39%            97.14%
Hernandez High School              80.934412         66.75%            80.86%
Holden High School                 83.814988         92.51%            96.25%
Huang High School                  81.182722         65.68%            81.32%
Johnson High School                80.966394         66.06%            81.22%
Pena High School                   84.044699         94.59%            95.95%
Rodriguez High School              80.744686         66.37%            80.22%
Shelton High School                83.725724         93.87%            95.85%
Thomas High School                 83.848930         93.27%            97.31%
Wilson High School                 83.989488         93.87%            96.54%
Wright High School                 83.955000         93.33%            96.61%

                      % Overall Passing Spending Ranges (Per Student)  \
school_name
Bailey High School               54.64%                      $585-630
Cabrera High School              91.33%                         <$585
Figueroa High School             53.20%                      $630-645
Ford High School                 54.29%                      $630-645
Griffin High School              90.60%                      $585-630
Hernandez High School            53.53%                      $645-680
Holden High School               89.23%                         <$585
Huang High School                53.51%                      $645-680
Johnson High School              53.54%                      $645-680
Pena High School                 90.54%                      $585-630
Rodriguez High School            52.99%                      $630-645
Shelton High School              89.89%                      $585-630
Thomas High School               90.95%                      $630-645
Wilson High School               90.58%                         <$585
Wright High School               90.33%                         <$585

                              School Size
school_name
Bailey High School      Large (2000-5000)
Cabrera High School    Medium (1000-2000)
Figueroa High School    Large (2000-5000)
Ford High School        Large (2000-5000)
Griffin High School    Medium (1000-2000)
Hernandez High School   Large (2000-5000)
Holden High School          Small (<1000)
Huang High School       Large (2000-5000)
Johnson High School     Large (2000-5000)
Pena High School            Small (<1000)
Rodriguez High School   Large (2000-5000)
Shelton High School    Medium (1000-2000)
Thomas High School     Medium (1000-2000)
Wilson High School      Large (2000-5000)
Wright High School     Medium (1000-2000)

## Size Summary

In [69]:
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [70]:
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

In [71]:
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}%".format)

In [72]:
print(size_summary)

                    Average Math Score  Average Reading Score % Passing Math  \
School Size
Large (2000-5000)            77.746417              81.344493         69.96%
Medium (1000-2000)           83.374684              83.864438         93.60%
Small (<1000)                83.821598              83.929843         93.55%

                   % Passing Reading % Overall Passing
School Size
Large (2000-5000)             82.77%            58.28%
Medium (1000-2000)            96.79%            90.62%
Small (<1000)                 96.10%            89.89%

## Scores by School Type

In [83]:
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [84]:
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

In [85]:
type_summary["% Passing Math"] = pd.to_numeric(type_summary["% Passing Math"], errors="coerce")
type_summary["% Passing Reading"] = pd.to_numeric(type_summary["% Passing Reading"], errors="coerce")
type_summary["% Overall Passing"] = pd.to_numeric(type_summary["% Overall Passing"], errors="coerce")

In [86]:
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}%".format)

In [87]:
print(type_summary)

             Average Math Score  Average Reading Score % Passing Math  \
School Type
Charter               83.473852              83.896421         93.62%
District              76.956733              80.966636         66.55%

            % Passing Reading % Overall Passing
School Type
Charter                96.59%            90.43%
District               80.80%            53.67%